/* CSS for App.js, List.js */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(175,233,175);
background: linear-gradient(191deg, rgba(175,233,175,1) 0%, rgba(145,203,184,1) 100%);
}
button {
  background-color: transparent;
  border: none;
}
.App {
  text-align: center;
  background-color: #afe9afff;
  height: 100vh;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
   background: rgb(175,233,175);
background: linear-gradient(191deg, rgba(175,233,175,1) 0%, rgba(145,203,184,1) 100%);
}
.leftItems, .filterDropdown, .logo {
  display: flex;
  align-items: center;
}

.filterDropdown {
  z-index:5;
  flex-grow: 1;
  justify-content: center;

}
.filterDropdown select {
  padding: 5px 10px;
  border-radius: 5px;
  border: 0px solid #ccc;
  width:180px;
  height:40px;
    box-shadow:
    3px -3px 10px #fff6,
    -5px 5px 11px #0022;

}
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 20px;
}

.bottomRightButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #496149ff;
  color: white;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottomRightButton:hover {
  background-color: #0056b3;
}
.List {
  text-align: center;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: black;
}

.list ul {
  background-color: #e5ffd5ff;
  list-style-type: none;
  padding: 0;
}

.list ul li {
  margin-bottom: 10px;
  background-color: #e5ffd5ff;
}

.App-header {
  min-height: 20vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
}

.App-link {
  color: #3339;
  text-decoration: none;
}

.bottom-right-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.bottom-right-button:hover {
  background-color: #0056b3;
}

.List {
  display: flex;
  flex-direction: column;
}

.List.threeColumns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: hidden;
  max-height: 80vh;
}


.List div {
  width: 70vw;
  height: 300px;
  margin-bottom: 5%;
  padding: 1%;
  background-color: #ddd;
  border-radius: 10px;
}

.menu {
  position: absolute;
  height: 170px;
  bottom: 70px;
  right: 10px;
  padding: 5px;
  z-index: 1;
  background-color: #eee;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;


}
.menu li{
  margin-bottom: 5px;
  list-style: none;
}
.toggleButton {
  margin-top: 10px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px -3px 10px #fff6, -5px 5px 11px #0022;
  width: 70%;
  max-width: 400px;
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.login-form button {
  width: 90%;
  padding: 10px;
  background-color: #496149;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
   box-shadow:
    3px -3px 10px #fff6,
    -5px 5px 11px #0022;
}

.login-form button:hover {
  background-color: #f789;
}

.logo {
  position: relative;
  max-width: 50px;
  margin: auto;

}

.login-form p {
  font-size: 20px;
  color: #333;
}

.input {
  width: 90%;
}

.dueDate {
  color: #888;
  font-size: 0.8em;
  margin-top: 10px;
}
