/* Base Styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(11deg, rgba(175,233,175,.8) 10%, rgba(145,203,184,.8) 100%);
}

/* Custom Font */
@font-face {
  font-family: BrownBagLunch;
  src: url(./fonts/BrownBagLunch.ttf);
}

@font-face {
  font-family: cool;
  src: url(./fonts/coolvetica\ rg.otf);
}

/* App Layout */
.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background: inherit;
}
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin-top: 3vw;
  padding: 5px;
 background: #fff4;
border-radius: 20px;
}
.leftItems p {


}
/* Components and Elements */
.logo, .leftItems, .filterDropdown {
  display: flex;
  align-items: center;

}

.filterDropdown {
  flex-grow: 1;
  justify-content: center;

}

.filterDropdown select {
  font-size: x-large;
  padding: 5px 20px;
  border-radius: 15px;
  border: none;
  width: 250px;
  height: 60px;
 background-color: #eee9;
  box-shadow: 3px -3px 10px #fff6, -5px 5px 11px #0022;
  font-family: cool;
  color: #6059;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  }

.addButton {
  position: absolute;
  bottom: 30px;
  left: 20px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: white;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 3px -3px 10px #fff4, -5px 5px 11px #0021;
  background-color:  #1617;
  z-index:10px;
}
.shareButton {
  position: absolute;
  bottom: 130px;
  left: 20px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: white;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index:10px;
  background-color: #1167;
}
.trashButton {
  position: absolute;
  bottom: 230px;
  left: 20px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: white;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index:10px;
  background-color: #6117;
}

.shareButton:hover {
  background-color: #0356b3;
}
.trashButton:hover {
  background-color: #0356b3;
}
.addButton:hover {
  background-color: #0356b3;
}

.add-task-form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 25px;
  z-index: 0;
    background: linear-gradient(11deg, rgba(175,233,175,1) 10%, rgba(145,203,184,1) 100%);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label{
  font-family: cool;
  font-weight: 10;
  font-size: 45px;
  color: #6059;
  margin-bottom: -10px;
  padding: 0px;
}
/* Base styles for text inputs to align with the design */
input[type="text"], input[type="datetime-local"] {
  width: 100%; /* Full width to align with form */
  padding: 10px;
  margin: 5px 0 20px; /* Add some space between inputs */
  border-radius: 5px;
  border: 1px solid #ccc; /* Subtle border */
}

/* Refining range slider styles to fit the new design */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}

/* Base styles for the slider */
input[type="range"] {
  -webkit-appearance: none; /* Removes default styling for WebKit browsers */
  width: 100%; /* Slider width */
  height: 8px; /* Slider track height */
  border-radius: 5px; /* Rounds the corners of the slider track */
  background: linear-gradient(to right,
    #afe9af 0%,
    #b7cca3 12.5%,
    #c0b097 25%,
    #c8948c 37.5%,
    #d17880 50%,
    #da5b74 62.5%,
    #e23f69 75%,
    #eb235d 87.5%,
    #f40752 100%); /* Gradient background for the slider track */
  outline: none; /* Removes the outline */
  padding: 0; /* Removes default padding */
  margin: 0; /* Adjust as needed */
}

/* Styles for the slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Removes default styling for WebKit browsers */
  appearance: none;
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb */
  background: #FFF; /* Thumb background color */
  cursor: pointer; /* Changes cursor type on hover */
  border: 2px solid #F40752; /* Adds a border to the thumb */
  border-radius: 50%; /* Makes the thumb circular */
}
.range-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure container uses full width */
}

.slider-container {
  display: flex;
  align-items: center;
  width: 100%; /* Ensure the slider container uses full width */
  position: relative; /* Allows absolute positioning within */
}

.range-label {
  font-size: 18px;
  font-family: cool;

}

.low {
  position: absolute;
  left: 0; /* Align to the far left */
}

.high {
  position: absolute;
  right: 0; /* Align to the far right */
}

input[type="range"] {
  width: calc(100% - 40px); /* Adjust based on label sizes to prevent overflow */
  margin: 0 20px; /* Ensure some space around the slider */
  padding:20px;
}

input[type="range"]::-moz-range-thumb {
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb */
  background: #FFF; /* Thumb background color */
  cursor: pointer; /* Changes cursor type on hover */
  border: 2px solid #F40752; /* Adds a border to the thumb */
  border-radius: 50%; /* Makes the thumb circular */
}

/* Styles for the slider thumb for IE */
input[type="range"]::-ms-thumb {
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb */
  background: #FFF; /* Thumb background color */
  cursor: pointer; /* Changes cursor type on hover */
  border: 2px solid #F40752; /* Adds a border to the thumb */
  border-radius: 50%; /* Makes the thumb circular */
}

/* Additional styles for compatibility */
input[type="range"]:focus::-webkit-slider-thumb {
  background: #f40752; /* Change thumb color upon focus */
}
.button-container {
  display: flex;
  justify-content: space-between; /* Pushes children to opposite ends */
  align-items: center; /* Centers buttons vertically, if needed */
  padding: 10px; /* Adds some padding around the container */
}

/* Back button specific styling */
.back {
  background-color: #32CD9A; /* Lighter green, adjust as needed */
  padding: 50px;
}

.back:hover {
  background-color: #28B485; /* Slightly darker green on hover */
}

/* Submit button specific styling */
.submit {
  background-color: #F40752; /* Vibrant pinkish-red */
  color: #FFF; /* White text color for better contrast */
  border: 2px solid transparent; /* Prepares for hover effect */
   padding: 50px;
}

.submit:hover {
  background-color: #C10542; /* Darker shade of pinkish-red on hover */
  border-color: #FFF; /* Adds a white border on hover */
}


/* List and Items */
.List {
  text-align: center;
  overflow-y: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;


}

.item h2 {
  text-align: left;
  margin-left: 5px;
  color: #fff;
  font-family: BrownBagLunch;
  font-weight: 1;
  font-size: 70px;
  margin:0;
}

.item p {
  text-align: left;
  margin-left: 30px;
  color: #000;
font-weight: 10px;
}

.item {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
animation: popin 1s ease forwards;


}

.threeColumns div {
  width: 80vw;
  min-height: 200px;
  margin-bottom: 20px;
  padding: 1%;
  border-radius: 100px;

}
.List div {
  width: 80vw;
  min-height: 300px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px -3px 10px #fff4, -5px 5px 11px #0021;
  border-bottom: 3px #6166 ridge;
}

.archiveButton{
background-color:#f00;
padding: 10px;
border-radius:10px;
margin: 10px;
}

.doneButton{box-shadow: 3px -3px 10px #fff4, -5px 5px 11px #0021;
background-color:#0f0;
padding: 10px;
border-radius:10px;
margin: 10px;
}

/* Login Styles */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  animation: popin 1s ease forwards;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
box-shadow: 3px -3px 10px #fff4, -5px 5px 11px #0021;
 background: linear-gradient(11deg, rgba(175,233,175,.9) 10%, rgba(145,203,184,.9) 100%);
  width: 300px;
  height: 350px;
  border-bottom: 3px #6069 ridge;
}

.login-form .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
box-shadow: 3px -3px 10px #fff4, -5px 5px 11px #0021;
 padding: 10px;
  width: 100px;
  animation: popin 2s ease forwards;

}
.login-form h2 {

  font-family: sf;
  font-weight: 10;
  font-size: 45px;
  color: #6059;
  margin-bottom: -10px;
  padding: 0px;
}
.login-form p {

  font-family: BrownBagLunch;
  font-weight: 0;
  font-size: 30px;
  color:  #6259;
  margin-top: 0px;
  padding: 0px;

}

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 0px solid #747775;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}

.input {
  width: 90%;
}



@keyframes popin {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
